# ignore __fixtures__ only until we can dogfood our own plugin
highlight.pack.js
example-snippet.ts
lib
dist
public
coverage
static
.cache
**/*.ts
printer-estree-effects.template.js
printer-estree-effects.bundle.js
