body {
  font-family: 'Ubuntu Mono', monospace, sans-serif;
  margin: auto;
  max-width: 800;
}

/* layout */
.node:not(:first-child) {
  padding-left: 8px;
}

/* nav */
ul.nav, .nav li {
  display: inline;
  margin: 0 4px 4px 8px;
}

/* hero */
.hero {
  display: flex;
  padding: 8px;
  height: 150px;
  align-items: flex-end;
  background-color: #fdf6e3;
  justify-content: space-between;
  /* alt theme */
  /* color: white;
  background-color: #931313; */
}
.hero h1 {
  padding: 0;
  margin: 0;
}

.hero svg {
  margin-left: 8px;
}
.hero path {
  /* stroke: white; */
  stroke-dasharray: 100;
  animation: dash 1.8s linear infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 200;
  }
}

.funsies {
  margin: 16px 0;
  background-color: #fdf6e3;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #fdf6e3;
  height: 100px;
}

/* gfm polyfills */
table {
  border: 1px solid #EAEAEA;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #F4F4F4;
  padding: 8px 8px;
}
table tr:nth-child(even) {
  background: #F4F4F4;
}
table thead th {
  font-weight: bold;
}

table tfoot .links {
  text-align: right;
}
table tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

/* utility css */
.super {
  font-size: smaller;
  vertical-align: super;
}
/* third party */
.hljs {
  border-radius: 3px;
  padding: 16px !important;
}
